In [0]:

import pandas as pd
import numpy as np

In [3]:
# Load Train and val label dataset
train_df = pd.read_fwf("train.txt", sep=" ", header=None)
#train_df.reset_index()
train_df.head(5).append(train_df.tail(5))

                 0                                                  1
0       1278160345  962\tFriday\t20\t39,8851194\t32,8562758\t39,87...
1       1274461376  916\tTuesday\t8\t39,8834635\t32,8335031\t39,89...
2       1278402853  1175\tSaturday\t2\t39,9164664\t32,7246981\t39,...
3       1272398564  1630\tSaturday\t15\t39,93071844\t32,61985895\t...
4       1279996323  561\tSunday\t18\t39,914876\t32,72881434\t39,93...
178085  1271716250  328\tFriday\t20\t39,89996651\t32,75756675\t39,...
178086  1275289045  842\tWednesday\t6\t39,87718115\t32,81464391\t3...
178087  1269676370  517\tWednesday\t19\t39,7956454\t32,8746088\t39...
178088  1273331688  797\tSunday\t18\t39,8658282\t32,8524761\t39,88...
178089  1291915508  919\tSunday\t0\t39,9457001\t32,7596329\t39,954...

In [4]:
split_data = train_df[1].str.split("\t")
data = split_data.to_list()
names = ["travel_time", "travel_day", "travel_hour", "source_latitute", "source_longitute", "destination_latitute", "destination_longitute"]
new_df = pd.DataFrame(data, columns=names)
new_df.head(5)

  travel_time travel_day  ... destination_latitute destination_longitute
0         962     Friday  ...           39,8718379            32,8222507
1         916    Tuesday  ...           39,8912282           32,85792586
2        1175   Saturday  ...           39,9414644            32,7183841
3        1630   Saturday  ...           39,9023246            32,5240639
4         561     Sunday  ...           39,9307344            32,7187225

[5 rows x 7 columns]

In [7]:
new_df.dtypes

travel_time              object
travel_day               object
travel_hour              object
source_latitute          object
source_longitute         object
destination_latitute     object
destination_longitute    object
dtype: object

In [0]:
new_df['travel_time'] = new_df['travel_time'].astype(int)

In [16]:
new_df.groupby(["travel_day"])["travel_time"].mean().sort_values()

travel_day
Sunday       1013.866670
Monday       1062.712122
Tuesday      1087.123104
Wednesday    1093.185522
Thursday     1109.956135
Saturday     1113.639413
Friday       1126.855139
Name: travel_time, dtype: float64

In [15]:
new_df.groupby(["travel_hour"])["travel_time"].mean().sort_values()

travel_hour
3      917.227855
2      938.275787
1      940.481655
4      941.610146
0      949.800553
23     964.482094
22     973.998274
21     987.987354
6     1001.237907
9     1018.738185
5     1036.037212
20    1038.034531
10    1039.493087
11    1045.471501
7     1074.925037
12    1075.277957
13    1101.786016
8     1110.472337
19    1161.001933
14    1165.899525
15    1181.272013
16    1231.414820
17    1255.315581
18    1308.405457
Name: travel_time, dtype: float64

In [14]:
new_df.groupby(["travel_day", "travel_hour"])["travel_time"].mean().sort_values()

travel_day  travel_hour
Friday      3               803.193333
Thursday    3               831.348837
Wednesday   2               838.450450
            3               838.880682
Tuesday     1               853.876161
                              ...
Thursday    17             1328.478261
Wednesday   18             1333.680955
Friday      17             1347.382243
Thursday    18             1383.322325
Friday      18             1408.843672
Name: travel_time, Length: 168, dtype: float64

In [17]:
new_df["travel_time"].max(), new_df["travel_time"].min(), new_df["travel_time"].mean()

(10719, 155, 1089.282346004829)

In [18]:
new_df.groupby(["source_latitute", "source_longitute"])["travel_time"].mean().sort_values()

source_latitute  source_longitute
39,9340771       32,7948647            155.0
39,96780281      32,69588976           156.0
39,8930346       32,5475065            158.0
39,90526678      32,89783022           158.0
39,91530706      32,73236773           158.0
                                      ...
39,96666155      32,74281619          9321.0
39,87700369      32,76549837          9379.0
39,89817907      32,74288676          9395.0
39,93698217      32,70945666          9733.0
39,85192587      32,54507944         10719.0
Name: travel_time, Length: 175920, dtype: float64

In [19]:
new_df.groupby(["destination_latitute", "destination_longitute"])["travel_time"].mean().sort_values()

destination_latitute  destination_longitute
39,9312597            32,79599179                155.0
39,9605896            32,6975263                 156.0
39,9000108            32,8985791                 158.0
39,918514             32,7321773                 158.0
39,8722286            32,8285883                 158.0
                                                ...
39,951975             32,7370624                9321.0
39,87558603           32,7794539                9379.0
39,8917449            32,8680038                9395.0
39,9251434            32,5949306                9733.0
39,87185              32,5897069               10719.0
Name: travel_time, Length: 177959, dtype: float64

In [20]:
new_df.groupby(["source_latitute", "destination_latitute"])["travel_time"].mean().sort_values()

source_latitute  destination_latitute
39,9340771       39,9312597                155.0
39,96780281      39,9605896                156.0
39,8930346       39,9001288                158.0
39,87156012      39,8722286                158.0
39,91530706      39,918514                 158.0
                                          ...
39,96666155      39,951975                9321.0
39,87700369      39,87558603              9379.0
39,89817907      39,8917449               9395.0
39,93698217      39,9251434               9733.0
39,85192587      39,87185                10719.0
Name: travel_time, Length: 178069, dtype: float64

In [21]:
new_df.groupby(["source_longitute", "destination_longitute"])["travel_time"].mean().sort_values()

source_longitute  destination_longitute
32,7948647        32,79599179                155.0
32,69588976       32,6975263                 156.0
32,73236773       32,7321773                 158.0
32,89783022       32,8985791                 158.0
32,82355234       32,8285883                 158.0
                                            ...
32,74281619       32,7370624                9321.0
32,76549837       32,7794539                9379.0
32,74288676       32,8680038                9395.0
32,70945666       32,5949306                9733.0
32,54507944       32,5897069               10719.0
Name: travel_time, Length: 178071, dtype: float64